:root{
  --primary-color: hsl(322, 100%, 66%);
  --pale-cyan-color:hsl(193, 100%, 96%) ;
  --dark-cayn-color:hsl(192, 100%, 9%);
  --grayish-blue-color:hsl(208, 11%, 55%);
  }
  /* end variables  */
   
  /* start global rules  */
  * {
      -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
  }
  body {
    font-family: Aachen BT ,fantasy ;
    overflow-x:hidden;
    overscroll-behavior: contain;
  }

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  } 
  /* mobile  */
  @media (min-width: 395px) {
    .container {
      width: 375px ;
    }
}
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  





  /* start header  */

  .header {
    background-image: url(../images/background-header.jpg);
    background-size: cover;
    z-index:-2;
    
   
  }
  .header .hover {
    background-color: #1d1d23eb;
    /* height: 100vh; */
    /* opacity: 0.5; */
    z-index: -1;
  }
  .header li {
    list-style: none;
    margin: 0px;
    
    cursor: pointer;
    text-transform:uppercase;
    margin-top: 30px;
  }
  .header .right li{margin-left:60px;}
  .header .left li{margin-right:60px;}

  @media (max-width: 1000px) {
    .header .right li{margin-left:20px;}
    .header .left li{margin-right:20px;}
  } 

  .header li:hover {
    color:#e58f00 ;
  }
  .header .nav .logo {

    text-align: center;
  }
  .header .nav .logo p {
    margin: 0px;
  }
  .header .nav .logo p:last-of-type {
    font-size: 8px;
  }
  .header .nav  img {
    width: 50px;
    margin-bottom: -11px;
  }
  .header .nav {
    display: flex;
    justify-content: space-between;
    color: white;
    z-index: 10;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 26px;
  }
  .header .nav ul {
    align-items: center;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
  }
  .content-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .content-header  img{
    width: 100%;
    transform: translateX(-103px) translateY(40px);
    /* transform: translateY(10px); */
  }
  .content-header .text {
    width: 40%;
    transform: translateX(-55px);
    padding-top: 46px;
  }
  .content-header .text h2 {
    font-size: 68px;
    color: #e58f00;
    margin: 0px;
    font-weight: 500;
  }
  .content-header .text p {
    color: white;
    font-size: 23px;
    margin-bottom: 28px;
    line-height: 1.3;
  }
  .content-header .text button {
    border: unset;
    padding: 21px 50px;
    border-radius: 4px;
    font-size: 24px;
    color: black;
    background-color: #e58f00;
  }
  .nav-small {
    display: none ;
  }

  @media (max-width: 991px) {
    .header .nav {
      display: none;
    }
    .nav-small {
      
      display: flex;
      justify-content: space-between;

    }
    .nav-small  i {
      position: relative;
      font-size: 27px;
      color: white;
      width: 40px;
    height: 40px;
    }
    .nav-small  i::before{
      position: absolute;
      right: 8px;
    }
    .nav-small ul li {
      border-bottom: 1px solid #1d1d23eb;
      padding: 15px 0px 15px 0px;
      width: 175px;
      text-align: left;
      text-indent: 15px;
      margin: 0px;
      color: white;
    }
    .nav-small ul li:hover {
      color: white;
      transition: text-indent 0.3s;
      text-indent: 40px;
    }
    .nav-small ul {
      background-color: #e58f00;
      text-align: center;
      margin: 0px;
      padding: 0px;
      margin-top: 42px;
      position: absolute;
      top: 7px;
      right: -1px;
      display: none;
      z-index:20 ;
    }
    .nav-small i:hover + ul ,.nav-small  ul:hover  {
      display: block;
    }
    .nav-small ul::before {
      content: '';
      right: 0px;
      top: -31px;
      position: absolute;
      border: 20px solid;
      border-color: transparent transparent #e58f00 transparent;
    }
    .nav-small .icon {
    /* display: flex; */
    padding-top: 10px;
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    position: relative;
    }
    .header .nav-small .logo {
      width: 50px;
      text-align: center;
      color: white;
    }
    .header .nav-small .logo p {
      margin: 0px;
    }
    .header .nav-small .logo p:last-of-type {
      font-size: 8px;
    }
    .header .nav-small  img {
      width: 50px;
      margin-bottom: -18px;
    }
  }

  @media (max-width: 991px) {
    .content-header .text {
      width: 74%;
      transform: translateX(0px);
      padding-top: 46px;
      text-align: center;
    }
    .content-header .image {
      display: none;
    }
    .content-header {
      padding-top: 0px;
    }
    .content-header .text h2 {
      font-size: 47px;
      margin-bottom: 36px;
    }
    .content-header .text p {
      line-height: 1.6;
      font-size: 16px;
    }
    .content-header .text button {
      border: unset;
      padding: 13px 27px;
      border-radius: 4px;
      font-size: 15px;
      margin-bottom: 26px;
    }
  
  }
  
  
  /* end header  */

  /* start about  */
  .about  {
    background-color: #1d1d23;

  }
  .about .container {
    display: flex;
    color: white;
    align-items: center;

  }
  .about .container  .image {
    width: 75%;
    margin-right: 40px;
    margin-top: 90px;
    margin-bottom: 90px;
  }
  .about .container img {
    background-size: cover;
    width: 100%;
  }
  .about .text  p {
    font-size: 22px;
    line-height: 1.5;
    width: 485px;
  }
  .about .text h2 {
    font-size: 38px;
    font-weight: 100;

  }
  .about .text {
    width: 80%;
  }

  @media  (max-width: 767px) {
    .about .container {
      flex-direction: column;
    }
    .about .container .image {
      margin-right: 0px;
      margin-top: 50px;
      margin-bottom: 10px;
     }
     .about .container .h2 {
       margin-top: 0px;
     }
     .about .container  p {
       width: 300px !important;
       padding-bottom: 50px;
     }

    }



  @media (max-width: 991px) {
    .about .text h2 {
      font-size: 26px;

    }
    .about .text  p{
      font-size: 16px;
      width: 400px;
    }
    .about .image {
      
    margin-right: 27px;

    }
  }

 
  

  /* end about  */
  /* start qulity  */
  /* .qulity h2 {
    font-size: 38px;
    font-weight: 100;
  }
  .qulity p {
    font-size: 22px;
    width: 400px;
    line-height: 1.5;
  } */
  .qulity {
    background-color: #e58f00;
    position: relative;
      
    top: -3px;
  }
  .qulity .container {
    position: absolute;
    top: -206px;
    left: 55px;
    color: white;
  }
  .qulity .cherr {
    width: 504px;
    position: absolute;
    top: 260px;
    left: -106px;
  }

.small-qulity {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color:#e58f00 ;
  text-align: center;
  color: white;
}
.small-qulity img {
  width: 333px;
}
.small-qulity .text {
  text-align: left;
}
.small-qulity p {
  line-height: 1.5;
  padding: 0px;
  margin: 0px;
  width: 300px ;
  padding-bottom: 50px;
  font-size: 16px;
}
.small-qulity h2 {
  font-size: 26px;
  font-weight: 100;
}


 
@media (min-width:0px) {
  div.qulity , img.top-svg , img.bottom-svg {
    display: none;
  }
  .small-qulity {
    display: block;
  } 
  
}

  @media (min-width: 768px) {
    div.qulity , img.top-svg , img.bottom-svg {
      display:block;
    }
    .small-qulity {
      display: none;
    }
    
  
    .qulity .gover {
      width: 368px;
      position: absolute;
      top: -200px;
      right: -162px;
    }
    .qulity .coffe {
      width: 362px;
      position: absolute;
      top: 171px;
      right: 66px;
    }
    .qulity .cherr {
      width: 260px;
      position: absolute;
      top: 239px;
      left: -106px;
    }
    .qulity .container .text {
      top: -130px;
      position: absolute;
      left: 97px;
      
    }
    .qulity h2 {
      font-size: 26px;
      font-weight: 100;
    }
    .qulity p {
      font-size: 16px;
      width: 297px;
      line-height: 1.5;
    }
    .qulity .container .text {
      top: -90px;
      left: 0px;
    }
  }
  


  @media (min-width: 992px) {
    .qulity .gover {
      width: 403px;
      position: absolute;
      top: -244px;
      right: -166px;
    }
    .qulity .coffe {
      width: 460px;
      position: absolute;
      top: 190px;
      right: -53px;
    }
    .qulity .cherr {
      width: 348px;
      position: absolute;
      top: 260px;
      left: -106px;
    }
    .qulity .container .text {
      top: -130px;
      position: absolute;
      left: 97px;
      
    }
    .qulity h2 {
      font-size: 26px;
      font-weight: 100;
    }
    .qulity p {
      font-size: 16px;
      width: 300px;
      line-height: 1.5;
    }
    .qulity .container .text {
      top: -90px;
      left: 0px;
    }
    
  }


  @media (min-width: 1200px) {
    .qulity .gover {
      width: 466px;
      position: absolute;
      top: -285px;
      right: -162px;
    }
    .qulity .coffe {
      width: 451px;
      position: absolute;
      top: 185px;
      right: 64px;
    }
    .qulity .cherr {
      width: 348px;
      position: absolute;
      top: 260px;
      left: -106px;
    }
    .qulity .container .text {
      top: -130px;
      position: absolute;
      left: 97px;
      
    }
    .qulity h2 {
      font-size: 38px;
      font-weight: 100;
    }
    .qulity p {
      font-size: 22px;
      width: 485px;
      line-height: 1.5;
    }
    .qulity .container .text {
      top: -190px;
      left: 0px;
    }
    
  }

  @media (min-width: 1300px) {
    .qulity .gover {
      width: 504px;
      position: absolute;
      top: -363px;
      right: -216px;
    }
    .qulity .coffe {
      width: 503px;
      position: absolute;
      top: 166px;
      right: 60px;
    }
    .qulity .cherr {
      width: 379px;
      position: absolute;
      top: 260px;
      left: -106px;
    }
    .qulity .container .text {
      top: -130px;
      position: absolute;
      left: 97px;
      
    }
    .qulity h2 {
      font-size: 38px;
      font-weight: 100;
    }
    .qulity p {
      font-size: 22px;
      width: 485px;
      line-height: 1.5;
    }
    .qulity .container .text {
      top: -190px;
      left: 0px;
    }
    
  }

  @media (min-width: 1400px) {
    .qulity .gover {
      width: 504px;
      position: absolute;
      top: -363px;
      right: -216px;
    }
    .qulity .coffe {
      width: 566px;
      position: absolute;
      top: 142px;
      right: -22px;
    }
    .qulity .cherr {
      width: 419px;
      position: absolute;
      top: 260px;
      left: -106px;
    }
    .qulity .container .text {
      top: -302px;
      left: 92px;
      
    }
    .qulity h2 {
      font-size: 38px;
      font-weight: 100;
    }
    .qulity p {
      font-size: 22px;
      width: 485px;
      line-height: 1.5;
    }
    
    
  }
  @media (min-width: 1500px) {
    .qulity .gover {
      width: 557px;
      position: absolute;
      top: -389px;
      right: -432px;
    }
    .qulity .coffe {
      width: 605px;
      position: absolute;
      top: 160px;
      right: -148px;
    }
    .qulity .cherr {
      width: 419px;
      position: absolute;
      top: 260px;
      left: -106px;
    }
    .qulity .container .text {
      top: -302px;
      left: 92px;
      
    }
    .qulity h2 {
      font-size: 38px;
      font-weight: 100;
    }
    .qulity p {
      font-size: 22px;
      width: 485px;
      line-height: 1.5;
    }
   
    
  }

  @media (min-width: 1600px) {
    .qulity .gover {
      width: 618px;
      position: absolute;
      top: -482px;
      right: -595px;
    }
    .qulity .coffe {
      width: 635px;
      position: absolute;
      top: 160px;
      right: -247px;
    }
    .qulity .cherr {
      width: 462px;
      position: absolute;
      top: 260px;
      left: -106px;
    }
    .qulity .container .text {
      top: -302px;
      left: 190px;
      
    }
    .qulity h2 {
      font-size: 38px;
      font-weight: 100;
    }
    .qulity p {
      font-size: 22px;
      width: 485px;
      line-height: 1.5;
    }
    
    
  }

  @media (min-width: 1700px) {
    .qulity .gover {
      width: 686px;
      position: absolute;
      top: -540px;
      right: -735px;
    }
    .qulity .coffe {
      width: 701px;
      position: absolute;
      top: 142px;
      right: -343px;
    }
    .qulity .cherr {
      width: 488px;
      position: absolute;
      top: 260px;
      left: -106px;
    }
    .qulity .container .text {
      top: -302px;
      left: 190px;
      
    }
    .qulity h2 {
      font-size: 38px;
      font-weight: 100;
    }
    .qulity p {
      font-size: 22px;
      width: 485px;
      line-height: 1.5;
    }
   
    
  }

  @media (min-width: 1800px) {
    .qulity .gover {
      width: 727px;
      position: absolute;
      top: -584px;
      right: -859px;
    }
    .qulity .coffe {
      width: 740px;
      position: absolute;
      top: 134px;
      right: -432px;
    }
    .qulity .cherr {
      width: 509px;
      position: absolute;
      top: 260px;
      left: -106px;
    }
    .qulity .container .text {
      top: -302px;
      left: 190px;
      
    }
    .qulity h2 {
      font-size: 38px;
      font-weight: 100;
    }
    .qulity p {
      font-size: 22px;
      width: 485px;
      line-height: 1.5;
    }
    
    
  }


/* start gallery  */
.gallery {
  text-align: center;
  padding-top: 100px;
  margin-top: -2px;
  background-color:#1d1d23 ;
  padding-bottom: 100px;
}
.gallery h2 {
  padding: 40px 0px;
  font-size: 38px;
  font-weight: 100;
  color: white;
}
.gallery .set-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery .container {
 
  background-color:#1d1d23;
}
.gallery .image {
  width: 330px;
  height: 410px;
  flex-grow: 1;
  margin-right: 20px;
  margin-bottom: 20px;
  /* margin: 10px; */
  background-color: orange;
} 
.gallery .image img {
  background-size: cover ;
  width: 100%;
  height: 100%;
}

@media (max-width:395px) {
  .gallery .image { 
    margin-right: 0px;
    margin-bottom: 30px;
  } 

}


/* end gallery  */

/* start enjoy  */

.enjoy  {
  background-image: url(../images/enjoy-image.png);
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
.enjoy .container  .text {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background-color: #1d1d23eb;
  border: 10px solid #e58f00 ;
  text-align: center;
  color: white;
}

.enjoy .text  p {
  font-size: 22px;
  line-height: 1.5;
  width: 495px;
  text-align: center;
  margin-right: 0px;
}
.enjoy .text h2 {
  font-size: 38px;
  font-weight: 100;
}

@media (max-width:700px) {
  .enjoy .container .text {
    width: 100%;
    padding: 10px;
    margin: 0px;
  }
  .enjoy .text p {
    width: 100%;
  }
  .enjoy {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* end enjoy  */
/* start menu  */
.menu {
  background-color:#1d1d23 ;
  padding-top: 11px;
  padding-bottom: 100px;
text-align: center;
}
.menu .container > h2 {
  padding: 40px 0px;
  font-size: 48px;
  font-weight: 100;
  color: white;
}
.menu .set-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.menu .card {
  width: 360px;  
  text-align: left;

}
.menu .card h3 {
  color: #e58f00;
  font-weight: 100;
  margin-bottom: 0px;
  font-size: 26px;

}
.menu .card p:first-of-type {
  color: white;

}
.menu .card p:last-of-type {
  color: #e58f00;
  font-size: 23px;
}
.menu .card img {
  width: 100%;
  height: 320px;
  
}

@media (max-width: 1200px) {
  .menu .card {
    width: 448px;
    margin-bottom: 30px;
  }
  .menu .card h3 {
    font-size: 30px;
  }
}
@media (max-width:991px) {
  .menu .card {
    width: 335px;
  }
}

@media (max-width: 768px) {
  .menu .card {
    width: 325px;
  }
  .menu .card h3 {
    font-size: 24px;
  }
}

/* end menu  */
/* start enjoy-best  */
.enjoy-best {
  background-color: #e58f00;
}
.enjoy-best .container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
}
.enjoy-best .image {
  width: 50%;
  position: relative;
}
.enjoy-best .image img {
  width: 80%;
  position: absolute;
  left: 9px;
  top: -82px;
}
.enjoy-best .text {
  color: white;
}
.enjoy-best .text h2 {
  font-size: 52px;
  font-weight: 500;
}
.enjoy-best .text p {
  font-size: 26px;
  width: 498px;
  line-height: 1.5;
}
@media (max-width: 1200px) {
  .enjoy-best .image img {
    width: 96%;
    position: absolute;
    left: -18px;
    top: -82px;
  }
}

@media (max-width: 991px) {
  .enjoy-best .image img {
    width: 178%;
    position: absolute;
    left: -207px;
    top: -52px;
  }
}

@media (max-width: 768px) {
  .enjoy-best .image img {
    width: 96%;
    position: relative;
    left: 0px;
    top: 0px;
  }
  .enjoy-best .container{
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .enjoy-best .image {
    width: 100%;
  }
  .enjoy-best .text {
    width: 100%;
  }
  .enjoy-best .text p {
    font-size: 26px;
    width: 100%;
    line-height: 1.5;
  }
  .enjoy-best .text h2 {
    font-size: 40px;
    font-weight: 500;
  }
  .enjoy-best {
    padding-bottom: 10px;
  }
}

/* end enjoy-best  */
/* start footer  */
.footer {
  background-color: #35353b;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}
.footer .container {
  display: grid;
}
.footer .container .row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.footer .container .row:first-of-type img {
  width: 100px;
  margin-right: 28px;
  position: relative;
  top: 17px;
 
}

.footer .container .row ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer h2 {
  margin: 0px;
  font-size: 46px;
}

.footer i {
  background-color: white;
  padding: 9px 11px;
  border-radius: 50%;
  margin: 0px 10px;
  color: #35353b;
  font-size: 20px;
}

.footer ul {
  list-style: none;
  margin: 0px;
  list-style-type: none;
}
.footer li {
  margin: 0px 16px;
  font-weight: 100;
  font-family: sans-serif;
}

@media (max-width:768px) {
  .footer h2 {
    font-size: 33px;
  }
  .footer .container .row ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .footer li {
    margin: 0px 23px;
    font-weight: 100;
    text-align: left;
    padding: 10px;
    font-family: sans-serif;
  }

}

/* end footer  */